* {
    border: none;
    border-radius: 0;
    font-family: "Fira Sans Medium", "FiraMono Nerd Font";
    font-size: 10pt;
}

window#waybar {
    background: rgba(24, 32, 48, 0.75);
    border-bottom: 2px solid rgba(127, 127, 127, 0.5);
    color: white;
}

.module {
    padding: 0px 8px 2px;
}

#workspaces {
    padding: 0px 2px 2px;
}

#workspaces button {
    padding: 0px 4px;
    color: #7f7f7f;
}

#workspaces button.active {
    color: #ffffff;
}

#window {
    margin: -999px 0px;
}

#idle_inhibitor {
    padding-right: 17px;
}

#pulseaudio,
#backlight {
    padding-right: 10px;
}

#language {
    padding-right: 7px;
}

#battery {
    padding-right: 14px;
}

#battery.critical {
    color: #ff7f00;
}
