[init]
	defaultBranch = main
[user]
	name = silverslither
	email = 66127672+silverslither@users.noreply.github.com
[core]
	editor = nvim
[credential]
	helper = store
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff1
[mergetool]
	hideResolved = true
