set show-all-if-ambiguous on
set keyseq-timeout 0
set editing-mode vi

set show-mode-in-prompt on
$if term=linux
	set vi-ins-mode-string \1\e[?0c\2
	set vi-cmd-mode-string \1\e[?8c\2
$else
	set vi-ins-mode-string \1\e[6 q\2
	set vi-cmd-mode-string \1\e[2 q\2
$endif

# colemak binds
#set keymap vi-command
#"n": next-history
#"N": nop
#"k": non-incremental-reverse-search-history-again
#"K": non-incremental-forward-search-history-again
#"e": previous-history
#"E": nop
#"j": vi-end-word
#"J": vi-end-word
#"i": forward-char
#"I": nop
#"l": vi-insertion-mode
#"L": vi-insert-beg
