SUBSYSTEM=="power_supply", \
    ENV{POWER_SUPPLY_TYPE}=="Mains", \
    ENV{POWER_SUPPLY_ONLINE}=="0", \
    RUN+="/usr/bin/sudo -u slither /usr/bin/hyprctl keyword misc:vfr true -i 0"

SUBSYSTEM=="power_supply", \
    ENV{POWER_SUPPLY_TYPE}=="Mains", \
    ENV{POWER_SUPPLY_ONLINE}=="1", \
    RUN+="/usr/bin/sudo -u slither /usr/bin/hyprctl keyword misc:vfr false -i 0"
